@use "../abstracts";

html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(94%) sepia(100%)
    saturate(0%) hue-rotate(232deg) brightness(106%) contrast(108%);
  --icon-color-1: brightness(0) saturate(100%) invert(77%) sepia(0%)
    saturate(643%) hue-rotate(79deg) brightness(99%) contrast(88%);
  --header-bg-color: #171c28;
  --body-bg: #292e39;
  --top-act-bg-color: #292e39;
  --top-act-group-separate: #ededf6;
  --top-act-group-shadow: #00000033;

  @include abstracts.screen(md) {
    --header-shadow-color: rgba(0, 0, 0, 0.2);
  }

  --separate-color: #292e39;

  // Header
  --header-act-dropdown-bg: #292e39;
  --header-act-dropdown-shadow: rgba(23, 28, 40, 0.4);
  --header-act-dropdown-arrow-up: #292e39;

  //   Dropdown
  --dropdown-bg-color: #2f3441;
  --dropdown-shadow-color: #171c2866;
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(15%) sepia(5%)
    saturate(2894%) hue-rotate(186deg) brightness(95%) contrast(84%);
  --top-menu-border-color: #171c28;
  --menu-column-link-color: #0071dc;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(90%) sepia(3%)
    saturate(2174%) hue-rotate(202deg) brightness(110%) contrast(96%);

  // Sidebar
  --sidebar-bg: #292e39;
  --sidebar-shadow: 0px 40px 90px 20px #171c2866;

  // Category item
  --cate-item-bg: #171c28;
  --cate-item-thumb-bg: #292e39;
  --cate-item-title-color: #fff;

  // Buttons
  --filter-btn-bg: #171c28;
  --filter-btn-color: #fff;

  //  Product card
  --product-card-bg: #171c28;
  --product-card-shadow: #00000033;
  --like-btn-bg: #292e39;
  --like-btn-shadow: #7c7c7c33;

  // Filter form
  --filter-form-bg: var(--dropdown-bg-color);
  --filter-form-shadow: var(--dropdown-shadow-color);
  --form-tag-bg: var(--filter-btn-bg);
  --filter-arrow-color: var(--dropdown-arrow-color);

  // Sign Up
  --auth-intro-bg: #171c28;
  --auth-intro-text-color: #b9babe;
  --auth-content-bg: #292e39;
  --auth-heading-color: #b9babe;
  --auth-btn-connect-color: #b9babe;
  --auth-btn-connect-icon: brightness(0) saturate(100%) invert(92%) sepia(7%)
    saturate(108%) hue-rotate(190deg) brightness(82%) contrast(87%);
  --form-input-color: #b9babe;
  --form-checkbox-label-color: #b9babe;
  --form-text-input-border-color: #b9babe;
  --form-select-dialog-shadow: rgba($color: #fff, $alpha: 1);
  --form-select-dialog-bg: #171c28;

  @include abstracts.screen(md) {
    // Sign up
    --auth-intro-bg: #171c28;
  }

  // Product detail
  --product-detail-bg: #292e39;

  // Breadcrumbs
  --breadcrumbs-bg: #171c28;
  --breadcrumbs-shadow-color: #171c2833;
  --breadcrumbs-link-current-color: var(--text-color);

  // Product info
  --prod-info-bg: #171c28;
  --prod-tag-bg: rgb(158, 157, 168, 0.2);

  @include abstracts.screen(md) {
    --prod-info-container-bg: #171c28;
    --prod-info-bg: #171c28;
  }

  // Search bar
  --search-bar-bg: #171c28;
  --search-bar-icon-color: brightness(0) saturate(100%) invert(80%) sepia(0%)
    saturate(796%) hue-rotate(272deg) brightness(94%) contrast(92%);

  // Review card
  --review-card-bg: #171c28;
  --product-card-review-bg: #171c28;

  // Check out
  --cart-info-continue-link: #b9babe;
  --cart-item-title-color: #b9babe;
  --cart-item-border-color: #292e39;
  --cart-item-input-border-color: #292e39;
  --checkout-page-bg: #292e39;
  --checkout-breadcrumbs-bg: #171c28;
  --cart-info-bg: #171c28;
  --cart-info-shadow: rgba(23, 28, 40, 0.2);

  // Gift item
  --gift-item-color: #b9babe;
  --gift-item-bg: #292e39;
  --gift-item-shadow: none;

  // Modal
  --modal-content-bg: #292e39;
  --modal-content-shadow: rgba(23, 28, 40, 0.2);

  // Payment method
  --payment-item-bg: #292e39;
}
