@use "../abstracts";

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(9%) sepia(23%)
    saturate(1489%) hue-rotate(210deg) brightness(96%) contrast(98%);

  --header-bg-color: #eee;
  --body-bg: #f6f6f6;
  --top-act-bg-color: #fff;
  --top-act-group-shadow: #ededf633;
  --top-act-group-separate: #ededf6;

  @include abstracts.screen(md) {
    --header-bg-color: #fff;
    --header-shadow-color: rgba(237, 237, 246, 0.2);
  }

  //   Dropdown
  --dropdown-bg-color: #fff;
  --dropdown-shadow-color: #c8c8c866;
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(94%) sepia(100%)
    saturate(0%) hue-rotate(232deg) brightness(106%) contrast(108%);
  --top-menu-border-color: #d2d1d6;
  --menu-column-link-color: #0071dc;

  // Sidebar
  --sidebar-bg: #fff;
  --sidebar-shadow: 0px 40px 90px 20px #171c2866;

  // Category item
  --cate-item-bg: #eee;
  --cate-item-thumb-bg: #fff;
  --cate-item-title-color: #000;
  // --cate-item-desc-color: cho theme dark

  // Buttons
  --filter-btn-bg: #fff;
  --filter-btn-color: #6c6c72;

  //  Product card
  --product-card-bg: #fff;
  --product-card-shadow: #ededf633;
  --product-card-brand: #9e9da8;
  --like-btn-bg: #fff;
  --like-btn-shadow: #7c7c7c33;

  // Filter form
  --filter-form-bg: #fff;
  --filter-form-shadow: #c8c8c866;
  --form-tag-bg: #ededf6;
  --filter-arrow-color: #fff;

  // Sign Up
  --auth-intro-bg: #f6f6f6;
  --auth-intro-text-color: var(--text-color);
  --auth-content-bg: #fff;
  --form-input-color: #d2d1d6;
  --form-checkbox-label-color: #9e9da8;
  --form-text-input-border-color: #d2d1d6;

  @include abstracts.screen(md) {
    --cate-item-bg: #fff;

    // Sign up
    --auth-intro-bg: #fff;
  }

  // Product detail
  --product-detail-bg: #fff;

  @include abstracts.screen(md) {
    --product-detail-bg: rgb(210, 210, 213, 0.3);
  }

  // Breadcrumbs
  --breadcrumbs-bg: #f6f6f6;
  --breadcrumbs-shadow-color: #ededf633;
  --breadcrumbs-link-current-color: var(--text-color);

  @include abstracts.screen(md) {
    --breadcrumbs-bg: #fff;
  }

  // Product info
  --prod-info-bg: #f6f6f6;
  --prod-tag-bg: rgba(158, 157, 168, 0.2);

  @include abstracts.screen(md) {
    --prod-info-container-bg: #fff;
    --prod-info-bg: #fff;
  }

  // Search bar
  --search-bar-bg: #fff;
}
