@use "../abstracts";

%flexItemsCenter {
  display: flex;
  align-items: center;
}

.header {
  background: var(--header-bg-color);

  @include abstracts.screen(lg) {
    box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
  }
}

.top-bar {
  @extend %flexItemsCenter;
  position: relative;
  z-index: 1;
  padding: 30px 0;

  @include abstracts.screen(lg) {
    padding: 20px 0;
  }

  @include abstracts.screen(md) {
    justify-content: space-between;
    padding: 16px 0;
  }

  &__logo {
    @include abstracts.screen(lg) {
      gap: 10px !important;
      margin-left: 40px;

      &-title {
        font-size: 1.8rem !important;
      }

      &-img {
        width: 24px;
      }
    }

    @include abstracts.screen(md) {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;

      margin-left: 0;
    }
  }
}

.navbar {
  margin-left: 129px;

  @include abstracts.screen(xl) {
    margin-left: 24px;
  }

  @include abstracts.screen(lg) {
    position: fixed;
    inset: 0 50% 0 0;
    z-index: 9;

    margin-left: 0;
    padding: 30px 0;
    border-radius: 0 20px 20px 0;
    background: var(--sidebar-bg);
    box-shadow: var(--sidebar-shadow);

    translate: -100%;
    transition: translate 0.5s;

    &.show {
      translate: 0;
      box-shadow: var(--sidebar-shadow);
    }

    &.show ~ &__overlay {
      visibility: visible;
      opacity: 1;
    }
  }

  @include abstracts.screen(sm) {
    inset: 0 20% 0 0;
    padding: 20px 0;
    border-radius: 0 10px 10px 0;
  }

  &__close-btn {
    display: none;

    @include abstracts.screen(lg) {
      display: block;
      padding: 10px 30px;
    }

    @include abstracts.screen(sm) {
      padding: 10px 20px;
    }
  }

  &__overlay {
    visibility: hidden;
    opacity: 0;

    @include abstracts.screen(lg) {
      inset: 0;
      position: fixed;
      z-index: 8;

      transition: opacity, visibility;
      transition-duration: 0.5s;

      background: rgba($color: #000000, $alpha: 0.4);
    }
  }

  &__list {
    @extend %flexItemsCenter;

    @include abstracts.screen(lg) {
      flex-direction: column;
      align-items: flex-start;

      overflow-y: auto;
      height: calc(100% - 40px);
    }

    @include abstracts.screen(xl) {
      margin-left: -15px;
    }

    @include abstracts.screen(md) {
      height: calc(100% - 140px);
    }

    @include abstracts.screen(sm) {
      height: calc(100% - 150px);
    }
  }

  &__item {
    &:hover .dropdown {
      display: block;
    }

    @include abstracts.screen(lg) {
      width: 100%;

      &:hover .dropdown {
        display: none;
      }

      &--active .dropdown {
        display: block !important;
      }
    }
  }
  &__link {
    @extend %flexItemsCenter;
    padding: 0 30px;
    height: 50px;
    gap: 6px;

    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.67%;

    @include abstracts.screen(lg) {
      padding: 0 30px;

      font-size: 1.6rem;
      font-weight: 500;
      line-height: 150%;

      justify-content: space-between;
    }

    @include abstracts.screen(sm) {
      padding: 0 20px;
    }
  }

  &__arrow {
    margin-left: 6px;

    @include abstracts.screen(lg) {
      rotate: -90deg;
      transition: 0.3s;
    }
  }

  &__item--active &__arrow {
    rotate: 0deg;
  }
}

.top-act {
  @extend %flexItemsCenter;
  margin-left: auto;
  gap: 20px;

  @include abstracts.screen(md) {
    margin-left: 0;

    &__sign-up {
      height: 40px !important;
      font-size: 1.5rem !important;
      padding: 0 8px !important;
    }
  }

  &__group {
    @extend %flexItemsCenter;

    height: 50px;
    min-width: 50px;

    border-radius: 8px;
    background: var(--top-act-bg-color);
    box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
  }

  &__group-single &__btn {
    padding: 13px 12px 13px 14px;
  }

  &__btn {
    @extend %flexItemsCenter;
    position: relative;
    padding: 13px 20px;
    gap: 10px;
    cursor: pointer;
  }

  &__separate {
    width: 1px;
    height: 30px;
    background: var(--top-act-group-separate);
  }

  &__title {
    padding-top: 3px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.67%;
  }

  &__user {
    @extend %flexItemsCenter;
  }

  &__avatar {
    display: block;
    margin-left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 8px;
    cursor: pointer;

    @include abstracts.screen(xl) {
      margin-left: 0;
    }
  }
}

.nav-btn {
  height: 50px;
  padding: 0 30px;
  align-items: center;

  @include abstracts.screen(sm) {
    padding: 0 20px;
  }

  &__title {
    margin-left: 16px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.67%;
  }

  &__qnt {
    @extend .nav-btn__title;
    margin-left: auto;
  }
}

/* act dropdown */
.act-dropdown {
  position: absolute;
  top: 72px;
  right: -66px;
  width: min(500px, 100vw);

  &__inner {
    padding: 30px;
    border-radius: 20px;
    background: var(--header-act-dropdown-bg);
    box-shadow: 0px 40px 90px 20px var(--header-act-dropdown-shadow);
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
  }

  &__title {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 145.455%;
  }

  &__view-all {
    font-size: 2rem;
    font-weight: 400;
    line-height: 145.455%;
    text-decoration: underline;

    color: #0071dc;
  }

  &__bottom {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #d2d1d6;
    border-bottom: 1px solid #d2d1d6;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-bold {
      font-weight: 500;
    }
  }

  &__list {
    padding-bottom: 10px;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  &__row + &__row {
    margin-top: 15px;
  }

  &__label,
  &__value {
    font-size: 2rem;
    line-height: 145.455%;
  }

  &__checkout {
    display: flex;
    justify-content: flex-end;
    &-btn {
      min-width: 278px;
      font-size: 1.8rem !important;
    }
  }
}

.cart-preview-item {
  &__img-wrap {
    position: relative;
    padding-top: 100%;
    border-radius: 10px;
    border: 1.5px solid #ebebebeb;
  }

  &__thumb {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  &__title {
    margin-top: 14px;

    font-size: 1.4rem;
    font-weight: 400;
    line-height: 142.857%;
    text-align: left;
  }

  &__price {
    margin-top: 6px;

    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
    text-align: left;
  }
}
